@import url('../node_modules/@syncfusion/ej2-base/styles/bootstrap5.css');
@import url('../node_modules/@syncfusion/ej2-icons/styles/bootstrap5.css');
@import url('../node_modules/@syncfusion/ej2-buttons/styles/bootstrap5.css');
@import url('../node_modules/@syncfusion/ej2-splitbuttons/styles/bootstrap5.css');
@import url('../node_modules/@syncfusion/ej2-inputs/styles/bootstrap5.css');
@import url('../node_modules/@syncfusion/ej2-lists/styles/bootstrap5.css');
@import url('../node_modules/@syncfusion/ej2-navigations/styles/bootstrap5.css');
@import url('../node_modules/@syncfusion/ej2-popups/styles/bootstrap5.css');
@import url('../node_modules/@syncfusion/ej2-richtexteditor/styles/bootstrap5.css');

@import url('react-quill/dist/quill.snow.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('react-toastify/dist/ReactToastify.css');
@import url('react-quill/dist/quill.snow.css');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat' , sans-serif !important;
  background: #F6F7FB;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.login__direct, .register__direct{
  color: #03a9f4;
  cursor: pointer;
}

.login__direct:hover,  .register__direct:hover{
  text-decoration: underline;
}

.ql-editor{
  min-height:200px;
}

.prev__question-btn{
  border-radius: 9999px !important;
  box-shadow: 0 2px 6px rgb(0 0 0 / 10%);
  border: 2px solid #007AFF !important;
  color: #007AFF !important;
  width: 100px;
  cursor: pointer
}

.next__question-btn{
  border-radius: 9999px !important;
  box-shadow: 0 2px 6px rgb(0 0 0 / 10%);
  background: #007AFF !important;
  color: white!important;
  width: 100px;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}









